In [1]:
print(5+6)

11

In [23]:
import matplotlib.pyplot as pplt
import numpy as np
import pandas as pd

In [24]:
df=pd.read_csv('monthly.csv')

In [25]:
df

         Date    Price
0     1833-01    18.93
1     1833-02    18.93
2     1833-03    18.93
3     1833-04    18.93
4     1833-05    18.93
...       ...      ...
2296  2024-05  2351.13
2297  2024-06  2326.44
2298  2024-07  2398.20
2299  2024-08  2470.15
2300  2024-09  2570.55

[2301 rows x 2 columns]

In [26]:
from pycaret.regression import *

In [27]:
print(df.head())  # Display the first 5 rows
print(df.columns)

      Date  Price
0  1833-01  18.93
1  1833-02  18.93
2  1833-03  18.93
3  1833-04  18.93
4  1833-05  18.93
Index(['Date', 'Price'], dtype='object')

In [28]:
# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m')

# Extract Year and Month from the 'Date' column
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

# Drop the original 'Date' column
df = df.drop('Date', axis=1)

# Display the updated DataFrame
print(df.head())

   Price  Year  Month
0  18.93  1833      1
1  18.93  1833      2
2  18.93  1833      3
3  18.93  1833      4
4  18.93  1833      5

In [31]:
# Check the columns of the predictions DataFrame to identify the correct column
print(predictions.columns)

# Print the first few rows of predictions to understand the structure
print(predictions.head())

Index(['Year', 'Month', 'Price', 'prediction_label'], dtype='object')
   Year  Month  Price  prediction_label
0  1833      1  18.93       -258.651794
1  1833      2  18.93       -258.729199
2  1833      3  18.93       -258.806604
3  1833      4  18.93       -258.884009
4  1833      5  18.93       -258.961415

In [34]:
print(predictions[['Price', 'prediction']].head())

KeyError: "['prediction'] not in index"

In [30]:
from pycaret.regression import setup, create_model, finalize_model, predict_model

# Set up PyCaret for regression
reg_setup = setup(
    data=df,
    target='Price',
    session_id=123,  # Ensures reproducibility
    verbose=False     # Suppress verbose output
)

# Create and finalize a Linear Regression model
linear_model = create_model('lr')
final_linear_model = finalize_model(linear_model)

# Make predictions
predictions = predict_model(final_linear_model, data=df)

# Display actual vs predicted values
print(predictions[['Price', 'Label']].head())

KeyError: "['Label'] not in index"